# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.PersonalPortfolio_3.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Mauri\Documents\GitHub\MarchingCubes\PersonalPortfolio_3\.idea\.idea.PersonalPortfolio_3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
